

h2 {
    font-weight: 700;
    font-size: 32px;
    margin-inline: 56px;
}

.categories__box {

   margin-inline: 56px;
    margin-block: 48px;
    position: relative;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.categories__title {
    font-weight: 600;
    font-size: 18px;
}

.categories__actions {
    
}

.image-link {
position: absolute;
bottom: 100px;
right: 56px;
  
}