 .container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 240px;
    left: 470px;

    gap: 30px;
    padding: 32px;
    align-items: center;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 40px; 
}

.box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0px;
    margin: 0px;
    

}
.email, .password, .name {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
  
    
    
}

.email-input, .password-input, .name-input {
    font-weight: 500;
    font-size: 16px;
    padding: 16px;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 10px;
    opacity: 60%;
    margin-bottom: 20px;
    width: 100%;

}




.login--button {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    font-size: 16px;

    
}

.register {
    text-decoration: none;
    margin: 0px;
    border: none;
    color: #707070;
    font-size: 16px;
}


.signUp {
 text-decoration: none;
 color: #0077B6;
border: none;
} 
